<h1>This is the index</h1>

<ul>
  <% @employees.each do |employee| %>
    <li>    
      <%= link_to employee.name + " " + employee.surname, employee %>
    </li>
  <% end %>
</ul>

<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>First name</label>
      <input type="text" placeholder="First Name">
    </div>
    <div class="field">
      <label>Middle name</label>
      <input type="text" placeholder="Middle Name">
    </div>
    <div class="field">
      <label>Last name</label>
      <input type="text" placeholder="Last Name">
    </div>
  </div>
</div>

<%= link_to "Add employee", new_employee_path %>
