// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-title {
  text-align: center
}

.show-card {
  width: 300px!important;
}

.index-table {
  position: relative;
  top: 20px;
}

.import-button {
  position: relative;
  top: 10px;
}

.show-grid {
  position: relative;
  top: 50px;
}